
*{
    margin: 0;
    padding: 0;
}

:root{
    --tertiary-color: rgb(153, 143, 143);
    --mainhead-color: #F8F9FA;
    --subhead-color: #D3D3D3;
    --btn-color: #111111;
}

html {
  scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top left, #ff3300 0%, #000000 100%);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#landing{
    max-width: 100%;
    max-height: 100%;
    margin-top: 30vh;
    margin-bottom: 20vh;
}

.wrapper{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1em;
    gap: 2rem;
}

h1{
    font-weight: 900;
    font-size: 4rem;
    color: var(--mainhead-color);
}

.wrapper h4{
    font-size: 2rem;
    color: var(--subhead-color);
}

.btnlanding{ 
    display: grid;
    align-items: center;
    justify-content: center;
}

.bt{
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 12px;
    color: var(--tertiary-color);
}

a{
    text-decoration: none;
    color: var(--btn-color);
}

#search {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 1em;
}

.inputfield{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 12px;
}

#username{
    padding: 1rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 12px;

}

.bt:hover{
    color: var(--tertiary-color);
    background-color: var(--subhead-color);
}


input:hover{
    background-color: var(--subhead-color);
}

input::placeholder {
    color: var(--tertiary-color); 
}


.content{
    display: grid;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    margin-bottom: 10px;
    border: 2px solid var(--tertiary-color);
    color: var(--btn-color);
    background-color: var(--subhead-color);
    border-radius: 12px;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2rem;
    overflow: hidden;
    overflow-y: auto;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 12px;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  animation: fadeSlideIn 0.75s ease forwards;
}


@media screen and (max-width: 400px) {
    h1{
        font-size: 1.5rem;

    }

    .wrapper h4 {
        font-size: 1rem;
    }

    .inputfield{
        padding: 0.5rem;
        gap: 6px;
    }

    .bt{
        padding: 0.5rem;
    }
}

@media screen and (max-width: 300px) {
    h1{
        font-size: 2rem;
    }

    .wrapper h4 {
        font-size: 16px;
    }   

    .inputfield{
        padding: 0.5rem;
        gap: 6px;
    }

    .inputfield{
        display: grid;
    }

    .bt{
        padding: 0.5rem;
        font-size: 0.75rem;
    }

    p{
        font-size: 0.75rem;
    }
}